<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>AngularJS Examples: Extending html with directives</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/resources/bootstrap-3.1.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/demo.css">
  </head>
  <body class="example-03">

    <!-- Example Explanation -->
    <div class="jumbotron">
      <div class="container">
        <h1>03: Extending HTML With Directives</h1>
        <p>There are two sorts of directives, natives and the one you roll your own</p>
      </div>
    </div>

    <!-- Example -->
    <div class="container demo-03" ng-app="demo03">
      <div data-ng-controller="demoController">

        <div class="panel panel-default">
          <div class="panel-heading">1. Native Directives: ng-repeat</div>
          <table class="table table-hover">
            <thead>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Twitter handle</th>
            </thead>
            <tbody>
              <tr data-ng-repeat="speaker in speakers">
                <td>{{ speaker.firstname }}</td>
                <td>{{ speaker.lastname }}</td>
                <td>{{ speaker.handle }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">2. Native Directives: ng-show and ng-hide</div>
          <div class="panel-body">
            <form>
              <label for="check"><input type="checkbox" name="check" ng-model="check"> please check me!</label>
            </form>
            <div data-ng-show="check" class="alert alert-success">
              <span class="glyphicon glyphicon-thumbs-up"></span> <strong>Well done!</strong> You checked the box.
            </div>
            <div data-ng-hide="check" class="alert alert-info">
              if you check the checkbox above, this box will hide itself.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">3. Custom Directives: calculate</div>
          <div class="panel-body">
            <div>
              2 + 4 = <span calculate value-a="2" value-b='4'></span>
            </div>
            <div>
              3 + 5 = <calculate value-a="3" value-b="5"></calculate>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Navigation -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index.html">Examples</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/01-a-view/index.html">Views</a></li>
            <li><a href="/02-a-controller/index.html">Controllers</a></li>
            <li class="active"><a href="/03-a-directive/index.html">Directives</a></li>
            <li><a href="/04-a-filter/index.html">Filters</a></li>
            <li><a href="/05-combined/index.html">Combined</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- End Navigation -->

    <div id="footer">
      <div class="container">
        <p class="text-muted">© <a target="_blank" href="http://www.district01.be">District01</a> 2014 - created for <a target="_blank" href="http://weareimd.be/">IMD</a></p>
      </div>
    </div>

    <!-- jQuery -->
    <script src="/resources/jquery-1.11.0/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="/resources/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>

    <!-- AngularJS -->
    <script src="/resources/angular-1.3.0-beta.7/angular.min.js"></script>

    <!-- App -->
    <script language="JavaScript">

      // create an angular module
      var app = angular.module('demo03', []);

      // let's register a controller on that module
      app.controller('demoController', function demoController ($scope) {

        $scope.speakers = [
          {
            firstname: 'Laurens',
            lastname: 'Peeters',
            handle: '@peeterslaurens'
          },
          {
            firstname: 'Sander',
            lastname: 'Houttekier',
            handle: '@sanderh'
          }
        ];

      });

      app.directive('calculate', function() {
        return {
          restrict: 'EAC', // element, attribute and/or comment
          scope: {
            valueA: '=',
            valueB: '='
          },
          link: function($scope, element, attrs, controller) {
            element.text($scope.valueA + $scope.valueB);
          }
        };
      });
    </script>
  </body>
</html>