<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>AngularJS Examples: A Simple View</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/resources/bootstrap-3.1.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/demo.css">
  </head>
  <body class="example-01">

    <!-- Example Explanation -->
    <div class="jumbotron">
      <div class="container">
        <h1>01: A View</h1>
        <p>All you need for angular to work, is include it's javascript file, define an ng-app on the page and that's it!
          Now you can add things to the scope and immediately print them out again as well.</p>
      </div>
    </div>

    <!-- Example -->
    <div class="container demo-01" ng-app>
      <div class="panel panel-default">
        <div class="panel-heading">Who do you want to greet? <input name="name" type="text" data-ng-model="name"></div>
        <div class="panel-body">

          <!-- using data-ng-bind -->
          <h2>Hello <span data-ng-bind="name">world</span>!</h2>

          <!-- using {{ }} -->
          <h2>Hello {{ name }}!</h2>

          <!-- using {{ }} with a default -->
          <h2>Hello {{ name || 'World' }}!</h2>
        </div>
      </div>
    </div>

    <!-- Navigation -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index.html">Examples</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/01-a-view/index.html">Views</a></li>
            <li><a href="/02-a-controller/index.html">Controllers</a></li>
            <li><a href="/03-a-directive/index.html">Directives</a></li>
            <li><a href="/04-a-filter/index.html">Filters</a></li>
            <li><a href="/05-combined/index.html">Combined</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- End Navigation -->

    <div id="footer">
      <div class="container">
        <p class="text-muted">© <a target="_blank" href="http://www.district01.be">District01</a> 2014 - created for <a target="_blank" href="http://weareimd.be/">IMD</a></p>
      </div>
    </div>

    <!-- jQuery -->
    <script src="/resources/jquery-1.11.0/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="/resources/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>

    <!-- AngularJS -->
    <script src="/resources/angular-1.3.0-beta.7/angular.min.js"></script>
  </body>
</html>