<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>AngularJS Examples: The Controller</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/resources/bootstrap-3.1.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/demo.css">
  </head>
  <body class="example-02">

    <!-- Example Explanation -->
    <div class="jumbotron">
      <div class="container">
        <h1>02: The Controller</h1>
        <p>Preparing the data for the view? Having some logic behind a button? You will need to add a controller.</p>
      </div>
    </div>

    <!-- Example -->
    <div class="container demo-02" ng-app="demo02">
      <div class="row" data-ng-controller="demoController">
        <div class="col-xs-6">
          <div class="panel panel-default">
            <div class="panel-heading" data-ng-bind="title">Let's Calculate</div>
            <div class="panel-body">
              <form>

                <div class="form-group">
                  <input class="form-control" name="valueA" type="text" data-ng-model="form.valueA">
                </div>

                <div class="form-group">
                  <input class="form-control" name="valueB" type="text" data-ng-model="form.valueB">
                </div>

                <div class="form-group">
                  <select class="form-control" name="operant" data-ng-model="form.operant" data-ng-change="changeOperant()">
                    <option value="">choose</option>
                    <option value="+">add</option>
                    <option value="x">multiply</option>
                  </select>
                </div>

                <div class="form-group">
                  <button class="btn btn-primary" data-ng-click="calculate()">Calculate!</button>
                </div>
              </form>
              {{ form.valueA || '?' }} {{ form.operant || '?' }} {{ form.valueB || '?' }} = {{ form.result || '?' }}
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <img width="100%" ng-src="{{ imgurl }}">
        </div>
      </div>
    </div>

    <!-- Navigation -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index.html">Examples</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/01-a-view/index.html">Views</a></li>
            <li class="active"><a href="/02-a-controller/index.html">Controllers</a></li>
            <li><a href="/03-a-directive/index.html">Directives</a></li>
            <li><a href="/04-a-filter/index.html">Filters</a></li>
            <li><a href="/05-combined/index.html">Combined</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- End Navigation -->

    <div id="footer">
      <div class="container">
        <p class="text-muted">© <a target="_blank" href="http://www.district01.be">District01</a> 2014 - created for <a target="_blank" href="http://weareimd.be/">IMD</a></p>
      </div>
    </div>

    <!-- jQuery -->
    <script src="/resources/jquery-1.11.0/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="/resources/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>

    <!-- AngularJS -->
    <script src="/resources/angular-1.3.0-beta.7/angular.min.js"></script>

    <!-- App -->
    <script language="JavaScript">

      // create an angular module
      var app = angular.module('demo02', []);

      // let's register a controller on that module
      app.controller('demoController', ["$scope", function demoController ($scope) {

        $scope.title = "Let's Calculate!";
        $scope.form = {
          valueA: '0',
          valueB: '0',
          result: 0,
          operant: ''
        };

        // scope functions can be called from within the html
        $scope.calculate = function calculate() {
          if ($scope.form.operant === '+') {
            $scope.form.result = parseInt($scope.form.valueA, 10) + parseInt($scope.form.valueB, 10);
          } else if ($scope.form.operant === 'x') {
            $scope.form.result = parseInt($scope.form.valueA, 10) * parseInt($scope.form.valueB, 10);
          } else {
            $scope.form.result = 'Choose Operant!';
          }
        };

        $scope.changeOperant = function changeOperant() {
          if ($scope.form.operant === '+') {
            $scope.imgurl = '/resources/images/add.jpg';
          } else if ($scope.form.operant === 'x') {
            $scope.imgurl = '/resources/images/multiply.jpg';
          } else {
            $scope.imgurl = '/resources/images/choose.svg';
          }
        };

        $scope.changeOperant();

      }]);
    </script>
  </body>
</html>