<div class="media park">
  <a class="pull-left" href="#">
    <img width="200px" src="/resources/images/placeholder.jpg" ng-src="{{ park.image }}" alt="{{ park.title }}">
  </a>
  <div class="media-body">
    <h3>{{ park.title }} <rating ng-model="park.rating" data-stars="5"></rating></h3>
    <p>{{ park.description }}</p>
  </div>
</div>