<ul class="rating-list">
  <li data-ng-repeat="star in starsList">
    <div class="star" data-ng-class="{full: star.filled}" data-ng-click="setRating(star.nr)"></div>
  </li>
</ul>
<input type="hidden" data-ng-model="ngModel" />