<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>AngularJS Examples: Throwing it all together</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/resources/bootstrap-3.1.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/demo.css">
  </head>
  <body class="example-05">

    <!-- Example Explanation -->
    <div class="jumbotron">
      <div class="container">
        <h1>05: Throwing It All Together</h1>
        <p>In this example we create a filterable list of parks in Antwerp. We will be able to add one to the list, and rate them.</p>
      </div>
    </div>

    <!-- Example -->
    <div class="container demo-05" ng-app="parkLife">
      <div data-ng-controller="HomeCtrl">

        <div data-ng-show="state.added" class="alert alert-success"><strong>Well done</strong>, you just added a new park</div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="container-fluid">
              <span class="navbar-brand">{{ title }}</span>

              <form class="navbar-form navbar-right" role="search">
                <a href="#add" data-ng-click="state.add = !state.add" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add a Park</a>
                <div class="form-group">
                  <input type="text" class="form-control" id="search" placeholder="search" data-ng-model="filters.title">
                </div>
                <a href="#sort" data-ng-click="sortReverse = !sortReverse" class="btn btn-default">
                  <span ng-class="{'glyphicon-sort-by-alphabet-alt': !sortReverse, 'glyphicon-sort-by-alphabet': sortReverse}" class="glyphicon"></span>
                </a>
              </form>
            </div>
          </div>
          <div data-ng-show="state.add" class="panel-body">
            <form role="form">
              <div class="form-group">
                <label for="title">Park Name</label>
                <input type="text" class="form-control" id="title" placeholder="Enter a name" data-ng-model="newPark.title">
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" placeholder="description" data-ng-model="newPark.description"></textarea>
              </div>
              <div class="form-group">
                <label>Rate This Park</label>
                <rating data-ng-model="newPark.rating" stars="5"></rating>
              </div>
              <button data-ng-click="addPark()" class="btn btn-default">Add</button>
            </form>
          </div>
          <ul class="list-group">
            <li
              class="list-group-item"
              ng-class="{ 'list-group-item-warning': park.isNew }"
              data-ng-repeat="park in parks | orderBy:'title':sortReverse | filter:filters">
                <div park="park"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Navigation -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index.html">Examples</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/01-a-view/index.html">Views</a></li>
            <li><a href="/02-a-controller/index.html">Controllers</a></li>
            <li><a href="/03-a-directive/index.html">Directives</a></li>
            <li><a href="/04-a-filter/index.html">Filters</a></li>
            <li class="active"><a href="/05-combined/index.html">Combined</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- End Navigation -->

    <div id="footer">
      <div class="container">
        <p class="text-muted">© <a target="_blank" href="http://www.district01.be">District01</a> 2014 - created for <a target="_blank" href="http://weareimd.be/">IMD</a></p>
      </div>
    </div>

    <!-- jQuery -->
    <script src="/resources/jquery-1.11.0/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="/resources/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>

    <!-- AngularJS -->
    <script src="/resources/angular-1.3.0-beta.7/angular.min.js"></script>
    <script src="/resources/angular-1.3.0-beta.7/angular-resource.min.js"></script>

    <!-- app -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>

  </body>
</html>