body {
  padding-top: 25px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

#footer .text-muted {
  margin: 10px 0;
  text-align: center;
}

/* Demo 01 - A View */
.demo-01 {
  font-size: 150%;
}

.demo-01 code {
  font-size: 75%;
}

/* Demo 02 - A Controller */
.demo-02 {
  font-size: 150%;
}

/* Demo 03 - A Directive */
.demo-03 {
  font-size: 150%;
}
/*
.demo-03 form {
  font-size: 75%;
}*/

/* Demo 04 - A Filter */
.demo-04 {
  font-size: 150%;
}

/* Demo 05 - All Combined */
.demo-05 {
  font-size: 150%;
}

.demo-05 h3 {
  margin-top: 0;
  position: relative;
}

.example-05 #footer {

  position: relative;
}

.rating-list {
  height: 25px;
  margin: 0;
  padding: 0 0 5px 0;
}

.rating-list li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.rating-list li .star {
  background: url('/resources/images/rating-star.svg') center center no-repeat;
  background-size: 15px;
  height: 22px;
  width: 22px;
}

.rating-list li .star.full {
  background-image: url('/resources/images/rating-star-full.svg');
}

.rating-list li .star {
  cursor: pointer;
}

.park rating {
  position: absolute;
  top: 0px;
  right: 0px;
}