<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>AngularJS Examples: Adding A Filter</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/resources/bootstrap-3.1.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/demo.css">
  </head>
  <body class="example-04">

    <!-- Example Explanation -->
    <div class="jumbotron">
      <div class="container">
        <h1>04: Adding A Filter</h1>
        <p>Filters come in several ways, lets take a closer look into how we can use them.</p>
        <p>Besides the default angular filters, you can also roll your own. (you should!). Since it a defacto rule you should never touch the DOM from anywhere else but a directive, you will need directives to manipulate your dom when you use things like a datepicker plugin, or when you create small components that are reusable within your site.</p>
      </div>
    </div>

    <!-- Example -->
    <div class="container demo-04" ng-app="demo04">
      <div data-ng-controller="demoController">

        <div class="panel panel-default">
          <div class="panel-heading">1. native filters: currency &amp; date</div>
          <input type="checkbox" data-ng-model="check"/>
          <table class="table table-hover">
            <thead>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Salary</th>
            </thead>
            <tbody>
              <tr data-ng-repeat="speaker in speakers | filter: { active: check }">
                <td>{{ speaker.firstname }}</td>
                <td>{{ speaker.lastname }}</td>
                <td>{{ speaker.salary | currency:"$ " }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">last updated: {{ updated | date:'dd MMMM @ HH:mm:ss' }}</td>
              </tr>
            </tfoot>
          </table>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">2. custom filters: Reverse Strings</div>
          <div class="panel-body">
            <div>
              <input type="text" name="reverse" data-ng-model="reverse"> you typed: {{ reverse }}
            </div>
            <div>
              however when you reverse that it becomes: {{ reverse | reverse }}
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Navigation -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index.html">Examples</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/01-a-view/index.html">Views</a></li>
            <li><a href="/02-a-controller/index.html">Controllers</a></li>
            <li><a href="/03-a-directive/index.html">Directives</a></li>
            <li class="active"><a href="/04-a-filter/index.html">Filters</a></li>
            <li><a href="/05-combined/index.html">Combined</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- End Navigation -->

    <div id="footer">
      <div class="container">
        <p class="text-muted">© <a target="_blank" href="http://www.district01.be">District01</a> 2014 - created for <a target="_blank" href="http://weareimd.be/">IMD</a></p>
      </div>
    </div>

    <!-- jQuery -->
    <script src="/resources/jquery-1.11.0/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="/resources/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>

    <!-- AngularJS -->
    <script src="/resources/angular-1.3.0-beta.7/angular.min.js"></script>

    <!-- App -->
    <script language="JavaScript">

      // create an angular module
      var app = angular.module('demo04', []);

      // let's register a controller on that module
      app.controller('demoController', function demoController ($scope) {

        $scope.updated = new Date();

        $scope.speakers = [
          {
            firstname: 'Laurens',
            lastname: 'Peeters',
            active: true,
            salary: 9999
          },
          {
            firstname: 'Sander',
            lastname: 'Houttekier',
            active: false,
            salary: 7500
          }
        ];

      });

      // reverse filter
      app.filter('reverse', function() {
        return function reverseString(input) {
          input = input || '';
          var res = "";
          for (var s = 0; s < input.length; s++) {
            res = input.charAt(s) + res;
          }

          return res;
        };
      })

    </script>
  </body>
</html>